* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ocean';
    src: url('/fonts/Oceanshore-Bold.otf')  format('truetype');
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('/fonts/LibreFranklin-Light.ttf')  format('truetype');
}

html {
    font: 1em /1.4 'Libre Franklin', sans-serif;
    color: #3E3D2C;
}

body {
    background: #d9d4ce;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 640px;
    width: 100%;
    padding: 44px;
    color: #313128;
}

section:nth-child(2) {
    background: #95938B;
}

section:nth-child(3) {
    background: #d7ccb3;
}

section:nth-child(4) {
    background: #775e48;
    color: #e6e2de;
}

section:nth-child(5) {
    background: #3f3e2d;
    color: #d9d4ce;
}

.hero {
    position: relative;
    top: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: logoIntroAnimation 1600ms 800ms backwards;
}

.hero img {
    display: block;
    height: auto;
    width: 300px;
    margin-bottom: 32px;
}

.hero a {
    display: inline-block;
    padding: 4px 0;
    text-decoration: none;
    color: #3F3E2D;
    opacity: 0.8;
    transition: opacity 600ms;
    animation: fadeIn 2400ms 1900ms backwards;
}

.hero a:hover {
    opacity: 0.9;
}

article {
    position: relative;
    top: -32px;
    max-width: 440px;
    text-align: center;
    opacity: 0;
}

article.isvisible {
    animation: sectionAnimation 1800ms forwards;
}

article p {
    line-height: 1.8;
}

article h2 {
    margin-bottom: 16px;
    font-size:1.614rem;
    font-family: 'Ocean';
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    font-size: 12px;
    text-align: center;
}

footer a {
    display: inline-block;
    padding: 5px;   
    color: #d9d4ce;
    text-decoration: none;
    opacity: 0.3;
    transition: opacity 600ms;
}

footer a:hover {
    opacity: 0.6;
}

@keyframes logoIntroAnimation {
    0% { 
        opacity: 0;
        transform: translateY(-40px)
    }

    20% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes sectionAnimation {
    0% { 
        opacity: 0;
        /* transform: translateY(100px) */
        transform: scale(0.95) translateY(100px);
    }

    20% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
        /* transform: translateY(0); */
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
  
    100% {
        opacity: 0.8;
    }
}
